/*********************************************************
******************   Main Containers   *******************
**********************************************************/

.front-page {
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
}

.backgroundimage {
	margin: 0 auto;
	width: 100%;
	min-height: 800px;
	height:100%;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 1px 1px 2px rgb(0,0,0);
}

.container {
	background-color: rgb(255,255,255);
	border-radius: 20px;
}

.wrapper {
	max-width: 1080px;
	width: 70%;
	margin: 0 auto;
	padding: 10px;
	border: none;
}

/*********************************************************
*******************   Navigation Bar   *******************
**********************************************************/

nav {
	padding: 0px;
	margin: 0 auto;
}

nav ul {
	margin: 0;
	text-align: center;
	display: block;
	padding: 10px;
	border-radius: 5px;
	background: #0e0d51; /* Old browsers */
	background: -moz-linear-gradient(top,  #0e0d51 67%, #004fba 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(67%,#0e0d51), color-stop(100%,#004fba)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0e0d51 67%,#004fba 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0e0d51 67%,#004fba 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0e0d51 67%,#004fba 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0e0d51 67%,#004fba 100%); /* W3C */
	/* This was causing validation errors in the code but it came from http://www.colorzilla.com/gradient-editor/ I am keeping it in the 
	comments for this reason please advice about this thank you.
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0d51', endColorstr='#004fba',GradientType=0 ); IE6-9 */
}

nav ul li {
	margin: .9% 0;
	list-style: none;
	display: inline-block;
	color:rgba(255,255,255,.9);
	padding: 0% 1.8% 0% 1.8%;
}

nav ul li a {
	display: block;
	text-decoration: none;
	color:rgba(255,255,255,.9)
	
}

nav a:link {
	text-decoration: none;
	color: rgb(255,255,255);
}

nav a:visited {
	text-decoration: none;
	color: rgb(255,255,255);
}

nav a:hover {
	text-decoration: none;
	color: rgb(124,132,135);
}

nav a:active {
	text-decoration: none;
	color: rgb(124,132,135);
}


.backgroundimage h1 {
	position: absolute;
	top: 25%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
	font: 9vw 'Pinyon Script', cursive;
	color: #ffffff;
	text-shadow: 2px 2px 8px #000000;
}

/*********************************************************
*****************  Main Content IDs   ********************
**********************************************************/

.main_content {
	position: relative;
	margin:0;
	padding:0px;
}

.main_content li {
	margin:0;
	padding:0px;
	list-style-type: none;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: gray;
}

#intro_paragraph p {
	padding-top: 50px;
	color: #000;
	opacity: 1;
	line-height:100%;
}

#intro_paragraph blockquote {
	padding-bottom: 50px;
}

#welcome {
	position: relative;
	background-image: url("../images/canvas.jpg");
	background-repeat: repeat;
}

#our_Wines {
	margin:0;
	padding:0;
	position: relative;
	background-color: rgb(0,108,211);
	min-height: 500px;
}

#our_Wines h2 {
	padding: 100px 0 0 0;
	font-size: 2.5em;
	color: #ffffff;
}

.wine_image {
	float: right;
}

.wine_quote {
	width: 50%;
	float: left;
	font-size: .7em;
}

#our_Wines p {
	padding: 5px 0 0 0;
	color: rgb(255,255,255);
	font-size: 2em;
}


#winelist ol li {
	overflow: auto;
}

#winelist ol li p {
}

#winelist ol li:last-child {
	border-bottom: none;
}

#footer {
	background-color: rgba(178,178,178,0.4);
	color: rgb(255,255,255);

}

#footer h2 {
	color: rgb(255,255,255);
	clear: both; 
}


/*********************************************************
****************  Main Dom Elements   ********************
**********************************************************/

ol li figure img {
	margin: 0 1.8% 1.8% 1.8%;
	border-radius:1.8%;
}

blockquote {
	color: rgb(124,132,135);
	font-size: 2em;
	line-height: 120%;
	text-align: center;
	font-style: italic;
}

a {
	text-decoration: none;
	color: rgb(124,132,135);
	font-weight: bold;
	box-shadow: 0px 0px 0px rgb(0,0,0);
}

figcaption {
	color: rgb(124,132,135);
	font-size: 2em;
	margin: 4.6% 1.8% 4.6% 0;
}

h2 {
	color: rgb(124,132,135);
	font-size: 2.5em;
}

h3 {
	color: rgb(124,132,135);
	font-size: 2.25em;
}

p {
	color: rgb(124,132,135);
	font-size: 2em;
}

a:hover {
	text-decoration: none;
	color: rgb(32,32,32);
	font-weight: bold;
}

@media screen and (max-width: 1171px) {

	ol {
		padding: 0px;
	}

	figure {
		padding: 0px;
		margin: 0px;
	}

	.wine_image {
		margin: 0px;
		padding: 0px;
	}

	.wine_quote {
		padding: 0;
		margin: 0;
		width: 100%;
		overflow: auto;
	}
}









